
/* General ---------------------- */

h1, h2, a {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	color: #588A91;
	font-size: 50px;
	font-weight: 400;
}

h2 {
	color: #588A91;
	font-size: 27px;
	font-weight: 400;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #444444;
	font-size: 18px;
	font-weight: 400;
	background-color: #bac9cc;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
}

p {
	 margin-bottom: 30px;
}

/* Estructura ---------------------- */

.card-white {
	background-color: #eeeeee;
	padding: 50px;
	margin: 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 30px rgba(86, 138, 145, 0.30);
}

.container {
	width: 750px;
	margin: 40px auto;
}

.img-circle {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.list-inline {
	list-style: none;
	padding: 0px 0px 0px 0px;
}

.btn-purple {
	background-color: #36a4b3;
	padding: 15px 20px;
	color: white;
	border-radius: 4px;
	font-size: 16px;
	display: -webkit-inline-box;
	width: 200px;
	text-align: center;
	display: inline-block;
	text-transform: uppercase;
}
	
.btn-purple:hover {
	background-color: #49c9da;
}

.list-inline i {
	font-size: 50px;
	color: #36a4b3;
}

.fa-linkedin:hover {
    color: #49c9da;
}

.fa-behance-square:hover {
    color: #49c9da;
}

.list-inline li {
	display: inline;
}

.list-icon {
	text-align: left;
	padding: 0px 50px 0px 50px;
	list-style-position: outside;
}

.list-icon i {
	color: #36a4b3;
}

/* Media ---------------------- */

@media (max-width: 900px) {
	.container {
		width: 700px;
	}
}

@media (max-width: 700px) {
	.container {
		width: 500px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}